
body {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #424242;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    max-width: 700px;
}

#question {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
}

#answers {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.answer {
    background-color: #f9f9f9;
    border: none;
    border-radius: 8px;
    color: #424242;
    box-shadow: -4px -4px 6px #ffffff, 4px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.answer:hover {
    background-color: #e0e0e0;
}

.answer.selected {
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1), inset -2px -2px 4px #ffffff;
    background-color: #e0e0e0;
    color: #333333;
}

.answer.correct {
    background-color: #28a745;
    color: #ffffff;
}

.answer.incorrect {
    background-color: #dc3545;
    color: #ffffff;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navigation button {
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    color: #424242;
    box-shadow: -6px -6px 10px #f9f9f9, 6px 6px 10px #00000026;
    font-size: 0.9rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navigation button:hover {
    box-shadow: 2px 2px 2px #f9f9f9, -2px -2px 2px #00000026;
}

#previous, #next {
    width: auto;
}

#check {
    background-color: #d4e157;
    color: #ffffff;
}

#check:hover {
    background-color: #c0ca33;
}